/* ==========================================================
 * index.css v20141101
 * ==========================================================
 * Copyright 石华
 *
 * 三国杀传奇递推页css
 * ========================================================== */

body {
  background-color: #1b0c35;
  color: #fff;
}

.role {
  width: 100%;
  height: 877px;
  border: 3px solid black;
}
.role-1 {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: url(../i/role_1.jpg?__sprite);
  margin: 5px 8px 0 6px;
}

.footer span {
  font-size: 12px;/* px */
  line-height: 27px;
}
