/* ==========================================================
 * index.css v20141101
 * ==========================================================
 * Copyright 石华
 *
 * 三国杀传奇递推页css
 * ========================================================== */

html,
body {
  margin: 0;
  padding: 0;
}

.role {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  margin: 0.1rem;
}

.role-1 {
  overflow: hidden;
  width: 4rem;
  height: 3.5rem;
  margin: 0.05rem 0.08rem 0 0.06rem;
  background-color: #1b0c35;
}

.role-1 span {
  font-size: 12px;
  line-height: 0.27rem;
  color: #fff;
}